<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">



<head>
    <meta charset="UTF-8">
	<title>캔버스</title>
	
	<!-- CSS -->
	<link th:href="@{/styles/main.css}" rel="stylesheet" />

	<!-- Script -->
	<script type="text/javascript" th:src="@{/js/canvas/learn_canvas2.js}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <style>
    #image-container {
      display: flex;
    }
  </style>
</head>

<body>

  <div>
    <input type="file" id="file" />  
  </div>
  <div id="image-container">
    <canvas width="500" height="500"></canvas>
    <div>
      <span>Top Line:</span><br/>
      <input id="topLineText" type="text"><br/>
      <span>Bottom Line:</span><br/>
      <input id="bottomLineText" type="text"><br/>
      <button id="saveBtn">Save</button>
    </div>
  </div>
  <script>

  </script>

</body>
</html>