<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">



<head>
    <meta charset="UTF-8">
	<title>웹페이지 제목</title>
	
	<!-- CSS -->
	<link th:href="@{/styles/main.css}" rel="stylesheet" />

	<!-- Script -->
	<script type="text/javascript" th:src="@{/js/async_programming/promise.js}"></script>
	
	<!-- 실시간 마우스 위치 표시 -->
	<script type="text/javascript" th:src="@{/js/async_programming/get_mouse_position.js}"></script>
</head> 

<body id="para">


<h1>Hello</h1>

<a th:href="@{/learn/canvas1}"> 캔버스 배우기1 </a><br />
<a th:href="@{/learn/canvas2}"> 캔버스 배우기2 </a><br />




<a th:href="@{/learn/module}"> 모듈 공부 </a><br />





<div class="box">
  <p>
    Move the mouse around in this box to watch its coordinates change.
  </p>
  <p>
    <code>pageX</code>: <span id="x">n/a</span>
  </p>
  <p>
    <code>pageY</code>: <span id="y">n/a</span>
  </p>
</div>

</body> 

</html>
