@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

*	{ 
    margin: 0; 
    padding: 0; 
    border: 0; 
	}
	
body 
    { 
	font-family: 'Nanum Gothic','Open Sans', sans-serif;
} 

	
h1 
    { 
    font-size: 2.2em; 
} 
     
h2 
    { 
    font-size: 2.0em;     
} 
     
h3 
    { 
    font-size: 1.8em; 
} 
     
h4 
    { 
    font-size: 1.6em;     
} 
     
h5 
    { 
    font-size: 1.4em;     
} 
     
p 
    { 
    font-size: 1.2em;     
}